/* 
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

.nav,.container
{
    padding: 0px;
    margin: 0px;
    position: fixed;
    

}
.logo
{
    padding: 0px;
    margin: 0px;
    height: 70px;
    
}
.name
{
    color: rgb(56, 180, 153);
    font-size:50px;
    
    font-family: 'Rubik Moonrocks';
    position: absolute;
    left:500px
} */
